/* Universal Selector  for CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Styling the body elements */
body {
        position: relative;
        margin: 0;
        padding: 0;
        background-color: #d9dcd6;
}
h1 {
    display: inline-block;
    font-size: 48px;
}
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
h3 {
    margin-bottom: 10px;
    text-align: center;
}
a {
    color: #ffffff;
    text-decoration: none;
}
/* Styling the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Adding some styles to the nav container */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Removes the bullet points from the unordered list items */
.navigation {
    list-style-type: none;
}
/* Adding styling to the list elements */
li {
    display: inline;
    margin-left: 25px;
}
/* Styling the main elements */
main {
    padding-top: 0px;
}
/* Paragraph text styling */
p {
    font-size: 16px;
}
/* adding some styling to the main content classes */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Styling the article elements */
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Positions the images within the articel section */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/* Styling and positioning of sidebar elements */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Styling the Lead generation section within the sidebar */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Styling the Brand Awareness section within the sidebar */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Styling the Cost Management section within the sidebar */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Styling the images within the sidebar */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Styling the classes within the articles section */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Styling the image within the article section */
article img {
    max-height: 200px;
}
/* Footer elements styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h4 {
    font-size: 20px;
}
